<!DOCTYPE html>
<html lang = "en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Scraping HW - Mission to Mars</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-white" style="background-color:black">
    <div class="container">
        <div class="jumbotron text-center" ></div>
            <h1 class="display-3"><b>Mission to Mars</b></h1>
            <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>

        <!--Mars News-->
        <div class="container"></div>
            <div class="row" id="mars-news">
                <div class="media">
                    <div class="media-body">
                        <h2>Latest NASA Mars News</h2>
                        <h4 style="color:brown">{{ mars.news_title }}</h2>
                        <p style="color:cornsilk">{{ mars.news_paragraph }}</p>
                    </div>
                </div>
            </div>
        <!--JPL Featured Images-->
        <div class="container"></div>
            <div class="row" id="mars-space-featured-images">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h2>JPL Mars Space Featured Images</h2>
                    <img src="{{ mars.featured_image }}" class="img-responsive" style="max-width:100%;" alt="Mars Featured Image">
                </div>
            </div>
        <!--Mars Facts-->
        <div class="container"></div>
            <div class="row" id="mars_facts">
                <div class="col-md-12">
                    <h2>Mars Facts</h2>
                    {{mars.mars_facts | safe}}
                </div>
            </div>
        <!--Mars Hemisphere-->
        <h2 class="text-center">Mars Hemisphere</h2>
        <div class="card-deck">
            <hr>
            <div class="col-md-12">
                <div class="row" id="mars_hemispheres">
                    <div class="col-md-6">
                        {% for img in mars.mars_hemisphere %}
                        <div class="col-lg-8">
                            <div class="card text-dark bg-white" style="max-width: 100%;">
                                <img class="card-img-top" src="{{ img.img_url }}" alt="{{ img.title }}">
                                <div class="card-body">
                                    <h6 class="card-title">{{ img.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    <!--Plugins-->
    <!--Bootstrap Javascript: jQuery, Popper.js, and Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>
    
    <!--Footer-->
    <footer>
        <div class="footer">&copy; Sharanvika Jegatheeswaran - Web Scraping Challenge 2020
    </footer>
</body>
</html>